.concertDetails {
    background-color: #fff8e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    color: #444;
  }
  
  h1 {
    color: #ff9800;
  }
  
  h2 {
    color: #f57c00;
  }
  
  .bookNowButton {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .bookNowButton:hover {
    background-color: #e68900;
  }
  